<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UpdateBazeKMZ.Properties.Settings.SGT_MMCConnectionString" connectionString="Data Source=10.255.7.203;Initial Catalog=SGT_MMC;Persist Security Info=True;User ID=UsersSGT;Password=123QWEasd" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
